<!DOCTYPE html>

<html lang="en" ng-app="restaurantList">
<head>
  <meta charset="UTF-8">
  <title>Restaurant App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/RestaurantController.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container" >
    <h1>Portland's Best Restaurant</h1>
    <div class="" ng-controller="checkBoxController">
      <div ng-repeat="type in types">
        <label for="{{type.name}}"></label>
        <input id="{{type.name}}" type="checkbox" value="{{type.name}}"
               ng-checked="selects.indexOf(type.name) > -1"
               ng-click="toggleSelection(type.name)" />
        {{type.name}}
      </div>
    </div>

    <div ng-repeat="name in selects" class="selected-item">
      {{name}}
    </div>



  </div>



</body>
</html>
